
	.site-logo {
		padding-left: 15px;
	}

	.site-logo img {
		height: 80px;
	}


/* HERO
	================================================== */
	.hero h1 {
		font-size: 38px
		margin-bottom: 10px
		top: 30%;
	}

	.job-title {
		font-size: 20px
		margin-bottom: 20px;
	}

	.hero img {
		height: 420px;
	}

	.site-footer .text-right{
		text-align: center;
	}




